In [12]:
import pandas as pd
import numpy as np
import csv

In [80]:
df = pd.read_csv('data-by-modzcta.csv', sep=',')
columns_to_drop = ['COVID_DEATH_COUNT', 'COVID_DEATH_RATE','NEIGHBORHOOD_NAME', 'MODIFIED_ZCTA', 'PERCENT_POSITIVE']
df.drop(columns= columns_to_drop,inplace=True)

Mh_total_CCC = df.loc[df['BOROUGH_GROUP'] == 'Manhattan', 'COVID_CASE_COUNT'].sum()
Si_total_CCC = df.loc[df['BOROUGH_GROUP'] == 'Staten Island', 'COVID_CASE_COUNT'].sum()
Bk_total_CCC = df.loc[df['BOROUGH_GROUP'] == 'Brooklyn', 'COVID_CASE_COUNT'].sum()
Q_total_CCC = df.loc[df['BOROUGH_GROUP'] == 'Queens', 'COVID_CASE_COUNT'].sum()
Bx_total_CCC = df.loc[df['BOROUGH_GROUP'] == 'Bronx', 'COVID_CASE_COUNT'].sum()

Mh_total_TCT = df.loc[df['BOROUGH_GROUP'] == 'Manhattan', 'TOTAL_COVID_TESTS'].sum()
Si_total_TCT = df.loc[df['BOROUGH_GROUP'] == 'Staten Island', 'TOTAL_COVID_TESTS'].sum()
Bk_total_TCT = df.loc[df['BOROUGH_GROUP'] == 'Brooklyn', 'TOTAL_COVID_TESTS'].sum()
Q_total_TCT = df.loc[df['BOROUGH_GROUP'] == 'Queens', 'TOTAL_COVID_TESTS'].sum()
Bx_total_TCT = df.loc[df['BOROUGH_GROUP'] == 'Bronx', 'TOTAL_COVID_TESTS'].sum()

Mh_total_CCR = df.loc[df['BOROUGH_GROUP'] == 'Manhattan', 'COVID_CASE_RATE'].sum()
Si_total_CCR = df.loc[df['BOROUGH_GROUP'] == 'Staten Island', 'COVID_CASE_RATE'].sum()
Bk_total_CCR = df.loc[df['BOROUGH_GROUP'] == 'Brooklyn', 'COVID_CASE_RATE'].sum()
Q_total_CCR = df.loc[df['BOROUGH_GROUP'] == 'Queens', 'COVID_CASE_RATE'].sum()
Bx_total_CCR = df.loc[df['BOROUGH_GROUP'] == 'Bronx', 'COVID_CASE_RATE'].sum()

Mh_total_PD = df.loc[df['BOROUGH_GROUP'] == 'Manhattan', 'POP_DENOMINATOR'].sum()
Si_total_PD = df.loc[df['BOROUGH_GROUP'] == 'Staten Island', 'POP_DENOMINATOR'].sum()
Bk_total_PD = df.loc[df['BOROUGH_GROUP'] == 'Brooklyn', 'POP_DENOMINATOR'].sum()
Q_total_PD = df.loc[df['BOROUGH_GROUP'] == 'Queens', 'POP_DENOMINATOR'].sum()
Bx_total_PD = df.loc[df['BOROUGH_GROUP'] == 'Bronx', 'POP_DENOMINATOR'].sum()

df = df[0:0]

Mh_total_CCR = (Mh_total_CCC/Mh_total_PD)*100
Si_total_CCR = (Si_total_CCC/Si_total_PD)*100
Bk_total_CCR = (Bk_total_CCC/Bk_total_PD)*100
Q_total_CCR = (Q_total_CCC/Q_total_PD)*100
Bx_total_CCR = (Bx_total_CCC/Bx_total_PD)*100

df2 = {'BOROUGH_GROUP': 'Manhattan',  'COVID_CASE_COUNT': Mh_total_CCC,  'COVID_CASE_RATE': Mh_total_CCR, 'POP_DENOMINATOR': Mh_total_PD, 'TOTAL_COVID_TESTS': Mh_total_TCT} 
df = df.append(df2, ignore_index = True)
df3 = {'BOROUGH_GROUP': 'Staten Island',  'COVID_CASE_COUNT': Si_total_CCC,  'COVID_CASE_RATE': Si_total_CCR, 'POP_DENOMINATOR': Si_total_PD, 'TOTAL_COVID_TESTS': Si_total_TCT} 
df = df.append(df3, ignore_index = True)
df4 = {'BOROUGH_GROUP': 'Brooklyn',  'COVID_CASE_COUNT': Bk_total_CCC,  'COVID_CASE_RATE': Bk_total_CCR, 'POP_DENOMINATOR': Bk_total_PD, 'TOTAL_COVID_TESTS': Bk_total_TCT} 
df = df.append(df4, ignore_index = True)
df5 = {'BOROUGH_GROUP': 'Queens',  'COVID_CASE_COUNT': Q_total_CCC,  'COVID_CASE_RATE': Q_total_CCR, 'POP_DENOMINATOR': Q_total_PD, 'TOTAL_COVID_TESTS': Q_total_TCT} 
df = df.append(df5, ignore_index = True)
df6 = {'BOROUGH_GROUP': 'Bronx',  'COVID_CASE_COUNT': Bx_total_CCC,  'COVID_CASE_RATE': Bx_total_CCR, 'POP_DENOMINATOR': Bx_total_PD, 'TOTAL_COVID_TESTS': Bx_total_TCT} 
df = df.append(df6, ignore_index = True)

df.insert(1, "Population_Density (km^2)", [27757, 3160, 14158, 8001, 13022], True)
df.insert(1, "Hospitilization Count", [11949, 4532, 24027, 25083, 18196], True)

df.head()

,BOROUGH_GROUP,Hospitilization Count,Population_Density (km^2),COVID_CASE_COUNT,COVID_CASE_RATE,POP_DENOMINATOR,TOTAL_COVID_TESTS
0,Manhattan,11949,27757,73341,4.551327,1611420.18,962572
1,Staten Island,4532,3160,44113,9.264654,476143.00,272692
2,Brooklyn,24027,14158,156216,6.102419,2559903.02,1311023
3,Queens,25083,8001,157280,6.933735,2268330.27,1163920
4,Bronx,18196,13022,107727,7.580960,1421020.59,749857

In [83]:
df = pd.read_csv('data-by-modzcta.csv', sep=',')
#columns_to_drop = ['DEATH_COUNT', 'DEATH_RATE']
#df.drop(columns= columns_to_drop,inplace=True)
df.head()

,MODIFIED_ZCTA,NEIGHBORHOOD_NAME,BOROUGH_GROUP,COVID_CASE_COUNT,COVID_CASE_RATE,POP_DENOMINATOR,COVID_DEATH_COUNT,COVID_DEATH_RATE,PERCENT_POSITIVE,TOTAL_COVID_TESTS
0,10001,Chelsea/NoMad/West Chelsea,Manhattan,1070,3874.97,27613.09,28,101.40,6.51,16668
1,10002,Chinatown/Lower East Side,Manhattan,4030,5350.31,75322.71,202,268.18,10.12,40506
2,10003,East Village/Gramercy/Greenwich Village,Manhattan,1855,3436.60,53977.81,39,72.25,5.07,37170
3,10004,Financial District,Manhattan,198,6661.92,2972.12,2,67.29,6.39,3129
4,10005,Financial District,Manhattan,277,3163.10,8757.23,0,0.00,5.22,5247